.h-100{
    height: 100vh;
}


h1.overviewcap {
    font-weight: bold;
    font-size: 53px;
    color: white;
}
p.overviewpara {
    color: white;
    margin-bottom: 35px;
}
.taskoverview {
    display: grid;
    color: black;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}
.taskbox1{
    background-color: #F0F7F7;
    padding: 1em 2em;
    border-radius: 20px;
    height: 70%;
}
.taskbox2{
    background-color: #F0F7F7;
    padding: 1em 2em;
    border-radius: 20px;
}
img.taskoverimg {
   margin-right: 20px;
   float: left;
}
button.buttonoverview {
    float: right;
    font-size: 0.86em;
    margin-bottom: 40px;
    color: #5B99D2;
    padding-bottom: 1px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    border-radius: 25px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 40%);
}



button.buttonoverview2 {
    color: #5B99D2;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 60px;
    border: solid 3px #5B99D2;
    border-radius: 250px;
}
button.buttonoverview:hover{
    color: white;
    background-color: #5B99D2;
}
button.buttonoverview2:hover{
    color: white;
    background-color: #5B99D2;
    border: solid 3px white;
}
.tasktext {
    margin-bottom: 20px;

}
h2.taskhead {
    font-size: 24px;
    margin-bottom: 20px;
}
h2.taskheading {
    font-size: 24px;
}
p.taskparagr {
    margin-bottom: 20px;
}
h3.taskhead2 {
    font-size: 1em;
}
p.paragr {
    font-size: 0.8em;
}
.tasksinfor {
    float: left;
    width: 65%;
}
.tasksinfor2 {
    width: 35%;
    float: left;
}
.buttondiv {
    text-align: center;
}

.h-100p{
    height: 100%;
}

.hover-blue:hover{
    border-color: rgba(91, 153, 210,100);
    background-color: rgba(91, 153, 210,100);
}

.hover-blue-alt:hover{
    border-color: rgba(91, 153, 210,100);
    background-color: rgba(91, 153, 210,100);
    color: white;
}

.hover-blue-alt:hover select{
    color: white;
}


